/* @import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noticia Text", serif; */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}